# DC33 config template
[retcon]

  name = DEFCON33 RETCON

  # The mode to run in. Options are
  #   transport = headless transport. No Meshchat or other UI. No authentication.
  #   client    = AP serves a meshchat UI. Authentication handled by wifi auth. No transport
  mode = client
  
  annouce_every = 360  # every 6 minutes
  
  [[wifi]]
    # Will we host a wifi AP? Depending on user mode this could be used for
    # transport meshing, or meshchat UI
    host_ap = true
    
    # SSID prefixes to connect to. RETCON will try to connect to any AP 
    # with an ssid that starts with this prefix and has this PSK
    # If in client mode then this only affects who RETCON connects to
    # if in transport mode, and host_ap == true then will also host an AP with this prefix
    prefix = "RT-DC33-"
    psk = "DChacktheplanet33"

    # only matters if in 'client' mode
    client_ap_prefix = "UI-DC33-"
    client_ap_psk = "hacktheplanet" 
    
    freq = 2462
    client_iface = 'wlan0'
    ap_iface = 'uap0'
  

# meshchat config overrides. Only applies on first boot so user can customize after
# These values need to match the exact keys in meshchat's database.db `config` table 
[meshchat]
  display_name = "Human [change me]"
  lxmf_user_icon_name = "skull-crossbones-outline"
  lxmf_preferred_propagation_node_destination_hash="cd5c120acfd9437048f731fdd7564b0d"
  lxmf_preferred_propagation_node_auto_sync_interval_seconds=1800
  theme = "dark"
  auto_announce_interval_seconds = 900


# optional hardcoded interfaces section. Any interfaces you define here will be used as-is
# Disabled for now. Keep the mesh separated
# [interfaces]

# Retcon Config plugins. Each of these will have a chance to modify the config
[retcon_plugins]

  [[wifi_mesh]] # Auto mesh with wifi
  
  [[usb_autodetect]]
    [[[rnode]]]
      
      #port = /dev/ttyACM0 # Not needed since we auto-detect 
      frequency = 914875000
      bandwidth = 250000
      txpower = 16
      spreadingfactor = 6
      codingrate = 5


    #[[[meshtastic]]]
    #  mode = ap
    #  data_speed = 8  # Radio speed setting desired for the network. see https://github.com/landandair/RNS_Over_Meshtastic
    #  hop_limit = 3

  
    


