# DC33 config template
[retcon]

  name = DEFCON33 RETCON

  # The mode to run in. Options are
  #   transport = headless transport. No Meshchat or other UI. No authentication.
  #   client    = AP serves a meshchat UI. Authentication handled by wifi auth. No transport
  mode = transport
  
  annouce_every = 3600  # every 60 minutes
  
  [[wifi]]
    # Will we host a wifi AP? Depending on user mode this could be used for
    # transport meshing, or meshchat UI
    host_ap = true
    # prefix to use when hosting our own AP and ID will be appended for uniqueness 
    prefix = "RT-DC33-"
    psk = "hacktheplanet"

    # only matters if in 'client' mode
    client_ap_prefix = "RT-UI-DC33"
    client_ap_psk = "thisisthepassword" 
    
    freq = 2462
    client_iface = 'wlan0'
    ap_iface = 'uap0'
  
# optional hardcoded interfaces section. Any interfaces you define here will be used as-is
# Disabled for now. Keep the mesh separated
# [interfaces]

# Retcon Config plugins. Each of these will have a chance to modify the config
[retcon_plugins]

  [[wifi_mesh]] # Auto mesh with wifi
  
  [[usb_autodetect]]
    [[[rnode]]]
      
      #port = /dev/ttyACM0 # Not needed since we auto-detect 
      frequency = 914875000
      bandwidth = 125000
      txpower = 14
      spreadingfactor = 8
      codingrate = 5


    [[[meshtastic]]]
      mode = ap
      data_speed = 6  # Radio speed setting desired for the network. see https://github.com/landandair/RNS_Over_Meshtastic
      hop_limit = 5

  
    


