# DC33 config template
[retcon]

  name = Example

  # The mode to run in. Options are
  #   transport = headless transport. No Meshchat or other UI. No authentication.
  #   client    = AP serves a meshchat UI. Authentication handled by wifi auth. No transport
  mode = transport
  annouce_every = 3600  # every 60 minutes
  
  [[wifi]]
    # Will we host a wifi AP? Depending on user mode this could be used for
    # transport meshing, or meshchat UI
    host_ap = true

    # SSID prefixes to connect to. RETCON will try to connect to any AP 
    # with an ssid that starts with this prefix and has this PSK
    # If in client mode then this only affects who RETCON connects to
    # if in transport mode, and host_ap == true then will also host an AP with this prefix
    prefix = "RT-DEFAULT-"
    psk = "retcon123"

    # only matters if in 'client' mode
    client_ap_prefix = "RT-UI-DEFAULT"
    client_ap_psk = "thisisthepassword" 

    freq = 2462
    client_iface = 'wlan0'
    ap_iface = 'uap0'
  
#optional hardcoded interfaces section. Any interfaces you define here will be used as-is
[interfaces]
 # TCP/IP interface to the Dublin Hub
  [[RNS Testnet Dublin]]
    type = TCPClientInterface
    enabled = yes
    target_host = dublin.connect.reticulum.network
    target_port = 4965

# TCP/IP interface to the BetweenTheBorders Hub (community-provided)
  [[RNS Testnet BetweenTheBorders]]
    type = TCPClientInterface
    enabled = yes
    target_host = reticulum.betweentheborders.com
    target_port = 4242

# Interface to I2P Hub A
  [[RNS Testnet I2P Hub A]]
    type = I2PInterface
    enabled = yes
    peers = g3br23bvx3lq5uddcsjii74xgmn6y5q325ovrkq2zw2wbzbqgbuq.b32.i2p


# Retcon Config plugins. Each of these will have a chance to modify the config
[retcon_plugins]

  [[wifi_mesh]] # Auto mesh with wifi
  
  [[usb_autodetect]]
    [[[rnode]]]
      
      #port = /dev/ttyACM0 # Not needed since we auto-detect 
      frequency = 914875000
      bandwidth = 125000
      txpower = 14
      spreadingfactor = 8
      codingrate = 5


    [[[meshtastic]]]
      mode = ap
      data_speed = 6  # Radio speed setting desired for the network. 6=shortfast. see https://github.com/landandair/RNS_Over_Meshtastic
      hop_limit = 5

  
    


