<pre>
    ______          _______        _______        _______        _______        __    _ 
    |    _ |        |       |      |       |      |       |      |       |      |  |  | |
    |   | ||        |    ___|      |_     _|      |       |      |   _   |      |   |_| |
    |   |_||_       |   |___         |   |        |       |      |  | |  |      |       |
    |    __  | ___  |    ___| ___    |   |   ___  |      _| ___  |  |_|  | ___  |  _    |
    |   |  | ||   | |   |___ |   |   |   |  |   | |     |_ |   | |       ||   | | | |   |
    |___|  |_||___| |_______||___|   |___|  |___| |_______||___| |_______||___| |_|  |__|
</pre>